.flowplayer {
    background-color: #036;
    /* allow room for playlist buttons */
    margin-bottom: 100px;
}

.flowplayer .fp-playlist {
    position: absolute;
    bottom: -100px;
    width: 100%;
    text-align: center;
}

.flowplayer .fp-playlist a {
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 70px;
    background-color: #666;
    margin: 15px;
}

.flowplayer .fp-playlist a.is-active {
    background-color: #eee;
}

.flowplayer.is-paused .fp-playlist a.is-active {
    background-color: #ccc;
}

.flowplayer .fp-prev,
.flowplayer .fp-next {
    position: absolute;
    bottom: -60px;
    font-size: 20px;
    display: none;
    z-index: 1;
    cursor: pointer;
}

.flowplayer .fp-next {
    right: 0;
}

.flowplayer.is-ready .fp-next,
.flowplayer.is-ready .fp-prev {
    display: inline;
}