@import url('../../assets/css/styles.css');
@import url('../../assets/style.css');
/* Define page size. Requires print-area adjustment! */
body {
    margin:     0;
    padding:    0;
    width:      21cm;
    height:     29.7cm;
}
