body{
    font-size: 12px;
    font-family: 'Lato', Georgia, "Times New Roman", Times, serif;
}
#header{
    width: 100%;
}
.logo{

}
.header_left{
    float: left;
}
.header_right{
    float: right;
    color: #8a7c7c;
    font-weight: bold;
}