/* Add here all your CSS customizations */
#product_box{
    border: solid 1px #e0e0e0;
    border-radius: 5px;
    content: "";
}
.product_info{
    margin: 10px 10px 10px 10px;
}
.product_info_title{
    font-size: 17px;
    font-weight: bold;
    text-shadow: #00a3f5;
}
.product_info_categorie{
    font-size: 14px;
    font-style: italic;
}
.product_info_price{
    float: right;
    font-size: 28px;
    font-weight: bold;
}