/* Add here all your CSS customizations */
#product_box{
    border: solid 1px #e0e0e0;
    border-radius: 5px;
    content: "";
}
.product_info{
    margin: 10px 10px 10px 10px;
}
.product_info_title{

}